---
import Layout from '../layouts/Layout.astro';
import BooksList from '../components/BooksList.vue';

---

<Layout title="Probando Astro con la API de open library">
	
		<h1>
            <span class="text-gradient">Astro</span> + <span class="text-gradient">API OpenLibrary</span>
        </h1>
		
        <BooksList query="Summer Knight" client:load />
</Layout>


<style></style>
